.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid#ccc;
  border-radius: 12px;
  width: 400px;
  margin: 20px;
  padding: 10px;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  .con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 320px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
  }
  .img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .content {
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      padding: 7px;
    }
  }

  button {
    width: 250px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: rgb(15, 1, 22);
    color: aliceblue;
  }
}
