.boll {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin: 20px;
  .contain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin: 50px;
    .con {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 320px;
      border: 1px solid #ccc;
      border-radius: 8px;
      padding: 10px;
      margin: 10px;
      .answer {
        color: green;
      }
    }
  }
}
